<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Update city</title>
    <style>
        h1 {
            font-size: 130%;
        }
    </style>
</head>
<body bgcolor="#b8d6c1">
<h1>
    <td><a th:href="@{/main}">Main</a></td>
    <br>
    <td><a th:href="@{/countries}">Countries</a></td>
    <br>
    <td><a th:href="@{/cities}">Cities</a></td>
    <br>
    <br>
    <form action="#" th:action="@{/city-update}" th:object="${city}" method="post">
        <label for="id">ID</label>
        <input readonly type="number" th:field="*{id}" id="id" placeholder="ID">
        <br/>
        <label for="cityName">City</label>
        <input type="text" th:field="*{cityName}" id="cityName" placeholder="City">
        <br/>

        <select th:field="*{country}">
            <option value=""> --</option>
            <option th:each="country : ${countries}"
                    th:value="${country.id}"
                    th:text="${country.state}"></option>
        </select>
        <br/>
        <input type="submit" value="Update City">
    </form>
</h1>
</body>
</html>