<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Create Company</title>
    <style>
        h1 {
            font-size: 130%;
        }
    </style>
</head>
<body bgcolor="#b8d6c1">
<h1>
    <td><a th:href="@{/main}">Main</a></td>
    <br>
    <td><a th:href="@{/companies}">Companies</a></td>
    <br>
    <td><a th:href="@{/users}">Users</a></td>
    <br>
    <br>
    <form action="#" th:action="@{/company-create}" th:object="${company}" method="post">
        <label for="firm">Firm</label>
        <input type="text" th:field="*{firm}" id="firm" placeholder="Firm">

        <select th:field="*{user}">
            <option value=""> --</option>
            <option th:each="company : ${companies}"
                    th:value="${company.user.id}"
                    th:text="${company.user.firstName} + ${company.user.lastName}"></option>

        </select>
        <input type="submit" value="Create Company">
    </form>
</h1>
</body>
</html>