<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Update country</title>
</head>
<body>
<td><a th:href="@{/main}">Main</a></td>
<br>
<td><a th:href="@{/countries}">Countries</a></td>
<br>
<br>
<form action="#" th:action="@{/country-update}" th:object="${country}" method="post">
    <label for="id">ID</label>
    <input readonly type="number" th:field="*{id}" id="id" placeholder="ID">
    <br/>
    <label for="state">State</label>
    <input type="text" th:field="*{state}" id="state" placeholder="State">
    <br/>
    <label for="currencyCode">Currency code</label>
    <input type="text" th:field="*{currencyCode}" id="currencyCode" placeholder="Currency code">
    <br/>
    <input type="submit" value="Update Country">
</form>
</body>
</html>