<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Main</title>
    <style>
        h1 {
            font-size: 130%;
        }
    </style>
</head>
<body bgcolor="#b8d6c1">
<h1>
    <br>
    <td><a th:href="@{/payments}">Payments</a></td>
    <br>
    <br>
    <td><a th:href="@{companies}">Companies</a></td>
    <br>
    <br>
    <td><a th:href="@{countries}">Countries</a></td>
    <br>
    <br>
    <td><a th:href="@{cities}">Cities</a></td>
    <br>
    <br>
    <td><a th:href="@{users}">Users</a></td>
    <br>
    <br>
    <td><a th:href="@{mails}">Mails</a></td>
    <br>
    <br>
    <td><a th:href="@{/banks}">Banks</a></td>
    <br>
    <br>
    <td><a th:href="@{/accounts}">Accounts</a></td>
</h1>
</body>
</html>